<!DOCTYPE html>
<html ng-app="information-App">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/ionic.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/main.css" />
		<link rel="stylesheet" type="text/css" href="../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/bootstrap-select.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/demo.css"/>
		<link rel="stylesheet" type="text/css" href="../css/login.css"/>
		<script src="../js/jquery-2.2.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<!--<script src="../js/area.js" type="text/javascript" charset="utf-8"></script>-->
		<script src="../js/ionic.bundle.min.js" type="text/javascript" charset="utf-8"></script>
		<style>
			.M-C-UserImg{
				border-radius: 50%;
				height: 45px;
				padding: 0;
				margin: 12px 0 0 0px ;
			}
		</style>
	</head>

	<body ng-controller="information-Ctrl5" style="background: white;">
		<div class="bar bar-header bar-assertive login_heater">
			<button class="button button-clear login_header_color" id="back"><i class="icon ion-chevron-left"></i></button>
			<h1 class="title" style="font-size: 18px;font-weight: bold;">我的发布</h1>
		</div>
		<div class="MainPage_NewList my-information-list">
			<span data-toggle='tab' data-target='#page1'>全部</span>
			<span data-toggle='tab' data-target='#page2'>审核中</span>
			<span data-toggle='tab' data-target='#page3'>已通过</span>
			<span data-toggle='tab' data-target='#page4'>展示中</span>
			<span data-toggle='tab' data-target='#page5'>已过期</span>
		</div>
		<hr class="hrStyle" />
		<div class="MainPage_Content tab-content">
			<div class="tab-pane fade in active" id="page1">
				<div class="M-LoadMore"><span>没有更多信息了</span></div>
				<div class="M-null"></div>
			</div>
		    <div class="tab-pane fade" id="page2">
		    	<p style="height: 600px; display: flex;flex-direction: row;justify-content: center;align-items: center;font-size: 18px;">暂无审核中信息</p>
		    </div>
		    <div class="tab-pane fade" id="page3" style="min-height: 600px;"> 
		    	
				<div class="M-LoadMore"><span>没有更多信息了</span></div>
		        <div class="M-null"></div>
		    </div>
		    <div class="tab-pane fade" id="page4" style="min-height: 600px;">
		    	
		        <div class="M-LoadMore"><span>没有更多信息了</span></div>
		        <div class="M-null"></div>
		    </div>
		    <div class="tab-pane fade" id="page5" style="min-height: 600px;margin-top: 0;" >
		    	
				<div class="M-LoadMore"><span>没有更多信息了</span></div>
				<div class="M-null"></div>
		    </div>
		</div>
		<div class="MainPage_null"></div>
		<!--底部-->
		<div class="tabs tabs-icon-top footer-bar">
           <a class="tab-item footer-L33" href="../index.html">
              <i class="icon iconfont icon-shouye footer-icon"></i>
              <span>首页</span>
           </a>
           <a class="tab-item footer-L33" href="#">
              <i class="icon iconfont icon-zixun footer-icon"></i>
              <span>资讯</span> 
            </a>
            <a class="tab-item footer-L33" href="../publish/publish.html">
              <i class="icon iconfont icon-paperplane footer-icon"></i>
              <span>发布信息</span>
            </a><a class="tab-item footer-L33" href="#" >
              <i class="icon iconfont icon-qiyeruzhu footer-icon"></i>
              <span>入驻</span>
            </a>
            <a class="tab-item footer-L33  footer-active" href="../user/User.html">
              <i class="icon iconfont icon-04 footer-icon"></i>
              <span>我的</span>
            </a>
        </div>
		<script>
		   $('#back').click(function(){
		    	window.history.go(-1);
		    })
//		table切换样式
			$('.MainPage_NewList span').eq(0).css('color', '#ca0000');
			$('.MainPage_NewList span').click(function() {
				$('.MainPage_NewList span').css('color', '#666666');
				$(this).css('color', '#ca0000');
			})
//			详细展开效果
			 $(function() {
				$('.publish_readdetail').click(function() {
					if($(this).text()=='查看全文'){
						$(this).text('收起全文');
					}
					else{
						$(this).text('查看全文');
					}
					$(this).prev().toggleClass('mui-ellipsis-3');
				});
			});
			
            $('.icon-shoucangxing').click(function(){
				$(this).toggleClass('shoucang-color-red');
			})	
			$('.icon-dianzan').click(function(){
				$(this).toggleClass('shoucang-color-red');
			})	
			
			
		   angular.module('information-App', ['ionic']).controller('information-Ctrl5',function($scope, $ionicPopup, $timeout) {
			//  删除 信息对话框
           $scope.showConfirm = function() {
             var confirmPopup = $ionicPopup.confirm({
//             title: "",// String. 弹窗标题。
//             template: "",// String (可选)。放在弹窗body内的html模板。
               ubTitle: '', // String (可选)。弹窗的副标题。
               templateUrl: 'delete_information_tip.html', // String (可选)。放在弹窗body内的一个html模板的URL。
               okText: '确定',
               okType: 'btn-danger', // String (默认: 'button-positive')。OK按钮的类型。
               cancelText: '取消',
               cancelType: 'btn-default',
             });
             confirmPopup.then(function(res) {
               if(res) {
                 console.log('确定');
               } else {
                 console.log('取消');
               }
             });
           }
           })
//		  循环数组
var arr=[
{img:'../img/user.png',img1:'../img/flower1.png',img2:'../img/flower2.png',img3:'../img/flower3.png',t1:'GS416565',t2:'20',t3:'找资金',
t4:'高档仿真花制作，由于新产品上市，国内外市场受欢迎供不应求。面向全国诚招联合生产经营加盟合作商户，产品包回收，提供订单，保障长年有活。产品批交批结。把分厂办到全国各地。',
t5:'刚刚',t6:'审核中',shuju1:'1000',shuju2:'100',shuju3:'200',shuju4:'500'},
{img:'../img/user.png',img1:'../img/flower1.png',img2:'../img/flower2.png',img3:'../img/flower3.png',t1:'GS416565',t2:'20',t3:'找资金',
t4:'高档仿真花制作，由于新产品上市，国内外市场受欢迎供不应求。面向全国诚招联合生产经营加盟合作商户，产品包回收，提供订单，保障长年有活。产品批交批结。把分厂办到全国各地。',
t5:'刚刚',t6:'审核中',shuju1:'1000',shuju2:'100',shuju3:'200',shuju4:'500'},
{img:'../img/user.png',img1:'../img/flower1.png',img2:'../img/flower2.png',img3:'../img/flower3.png',t1:'GS416565',t2:'20',t3:'找资金',
t4:'高档仿真花制作，由于新产品上市，国内外市场受欢迎供不应求。面向全国诚招联合生产经营加盟合作商户，产品包回收，提供订单，保障长年有活。产品批交批结。把分厂办到全国各地。',
t5:'刚刚',t6:'审核中',shuju1:'1000',shuju2:'100',shuju3:'200',shuju4:'500'},
{img:'../img/user.png',img1:'../img/flower1.png',img2:'../img/flower2.png',img3:'../img/flower3.png',t1:'GS416565',t2:'20',t3:'找资金',
t4:'高档仿真花制作，由于新产品上市，国内外市场受欢迎供不应求。面向全国诚招联合生产经营加盟合作商户，产品包回收，提供订单，保障长年有活。产品批交批结。把分厂办到全国各地。',
t5:'刚刚',t6:'审核中',shuju1:'1000',shuju2:'100',shuju3:'200',shuju4:'500'},
{img:'../img/user.png',img1:'../img/flower1.png',img2:'../img/flower2.png',img3:'../img/flower3.png',t1:'GS416565',t2:'20',t3:'找资金',
t4:'高档仿真花制作，由于新产品上市，国内外市场受欢迎供不应求。面向全国诚招联合生产经营加盟合作商户，产品包回收，提供订单，保障长年有活。产品批交批结。把分厂办到全国各地。',
t5:'刚刚',t6:'审核中',shuju1:'1000',shuju2:'100',shuju3:'200',shuju4:'500'},
{img:'../img/user.png',img1:'../img/flower1.png',img2:'../img/flower2.png',img3:'../img/flower3.png',t1:'GS416565',t2:'20',t3:'找资金',
t4:'高档仿真花制作，由于新产品上市，国内外市场受欢迎供不应求。面向全国诚招联合生产经营加盟合作商户，产品包回收，提供订单，保障长年有活。产品批交批结。把分厂办到全国各地。',
t5:'刚刚',t6:'审核中',shuju1:'1000',shuju2:'100',shuju3:'200',shuju4:'500'},
{img:'../img/user.png',img1:'../img/flower1.png',img2:'../img/flower2.png',img3:'../img/flower3.png',t1:'GS416565',t2:'20',t3:'找资金',
t4:'高档仿真花制作，由于新产品上市，国内外市场受欢迎供不应求。面向全国诚招联合生产经营加盟合作商户，产品包回收，提供订单，保障长年有活。产品批交批结。把分厂办到全国各地。',
t5:'刚刚',t6:'审核中',shuju1:'1000',shuju2:'100',shuju3:'200',shuju4:'500'},
{img:'../img/user.png',img1:'../img/flower1.png',img2:'../img/flower2.png',img3:'../img/flower3.png',t1:'GS416565',t2:'20',t3:'找资金',
t4:'高档仿真花制作，由于新产品上市，国内外市场受欢迎供不应求。面向全国诚招联合生产经营加盟合作商户，产品包回收，提供订单，保障长年有活。产品批交批结。把分厂办到全国各地。',
t5:'刚刚',t6:'审核中',shuju1:'1000',shuju2:'100',shuju3:'200',shuju4:'500'}
];
var arr3=[
{img:'../img/user.png',img1:'../img/flower1.png',img2:'../img/flower2.png',img3:'../img/flower3.png',t1:'GS416565',t2:'20',t3:'找资金',
t4:'高档仿真花制作，由于新产品上市，国内外市场受欢迎供不应求。面向全国诚招联合生产经营加盟合作商户，产品包回收，提供订单，保障长年有活。产品批交批结。把分厂办到全国各地。',
t5:'刚刚',t6:'审核中',shuju1:'1000',shuju2:'100',shuju3:'200',shuju4:'500'}
];
var html='';
var html3='';
for(var i=0;i<arr.length;i++){
	html+=`<hr class="M-HR" /><div class="M-C-Box">
					<div class="M-C-Left">
						<img src=`+arr[i].img+` class="M-C-UserImg" />
					</div>
					<div class="M-C-Right">
						<div style="font-size: 10px;overflow: hidden;">
							<div class="M-C-Detail-L">
								<p style="margin-top: 16px;margin-bottom: 2px;">
									<span>编号</span>
									<span>`+arr[i].t1+`</span>
									<span>级别</span>
									<span>`+arr[i].t2+`级</span>
								</p>
								<div class="M-C-Type">`+arr[i].t3+`</div>
							</div>
							<div class="M-C-Detail-R">
								<i class="icon iconfont icon-zixun" style="margin: 0 8px;"></i>
								<i class="icon iconfont icon-icon" style="margin: 0 8px;" ng-click="showConfirm()"></i>
							</div>
						</div>
						<div class="MainPage_ContentDetail">
							<p class="mui-ellipsis-3">`+arr[i].t4+`</p>
							<span class="publish_readdetail">查看全文</span>
							<br />
							<img src=`+arr[i].img1+` style="width: 75px;height: 75px;" />
							<img src=`+arr[i].img2+` style="width: 75px;height: 75px;" />
							<img src=`+arr[i].img3+` style="width: 75px;height: 75px;" />
							<br />
						</div>
						<div class="MainPage_ContentFooter">
							<p style="font-size: 10px;">`+arr[i].t5+`</p>
							<p style="font-size: 10px;text-align: center;"><span style="color: #CA0000;margin-right: 12px;">`+arr[i].t6+`</span> 推广期限半个月</p>
							<p class="my-information-p">该发布信息已过了推广有限期，其他会员不可见该信息</p>
						</div>
						<p style="display: flex;flex-direction: row;justify-content: space-around;align-items: center;">
							<i class="icon iconfont icon-liulan"><span class="shoucang-color-black">`+arr[i].shuju1+`</span></i>
							<i class="icon iconfont icon-dianzan"><span class="shoucang-color-black">`+arr[i].shuju2+`</span></i>
							<i class="icon iconfont icon-pinglun"><span class="shoucang-color-black">`+arr[i].shuju3+`</span></i>
							<i class="icon iconfont icon-shoucang information-i"><span class="shoucang-color-black">`+arr[i].shuju4+`</span></i>
							</p>
					</div>
				</div>`
}
for(var i=0;i<arr3.length;i++){
	html3+=`<div class="M-C-Box">
					<div class="M-C-Left">
						<img src=`+arr3[i].img+` class="M-C-UserImg" />
					</div>
					<div class="M-C-Right">
						<div style="font-size: 10px;overflow: hidden;">
							<div class="M-C-Detail-L">
								<p style="margin-top: 16px;margin-bottom: 2px;">
									<span>编号</span>
									<span>`+arr3[i].t1+`</span>
									<span>级别</span>
									<span>`+arr3[i].t2+`级</span>
								</p>
								<div class="M-C-Type">`+arr3[i].t3+`</div>
							</div>
							<div class="M-C-Detail-R">
								<i class="icon iconfont icon-zixun" style="margin: 0 8px;"></i>
								<i class="icon iconfont icon-icon" style="margin: 0 8px;" ng-click="showConfirm()"></i>
							</div>
						</div>
						<div class="MainPage_ContentDetail">
							<p class="mui-ellipsis-3">`+arr3[i].t4+`</p>
							<span class="publish_readdetail">查看全文</span>
							<br />
							<img src=`+arr3[i].img1+` style="width: 75px;height: 75px;" />
							<img src=`+arr3[i].img2+` style="width: 75px;height: 75px;" />
							<img src=`+arr3[i].img3+` style="width: 75px;height: 75px;" />
							<br />
						</div>
						<div class="MainPage_ContentFooter">
							<p style="font-size: 10px;">`+arr3[i].t5+`</p>
							<p style="font-size: 10px;text-align: center;"><span style="color: #CA0000;margin-right: 12px;">`+arr3[i].t6+`</span> 推广期限半个月</p>
							<p class="my-information-p">该发布信息已过了推广有限期，其他会员不可见该信息</p>
						</div>
						<p style="display: flex;flex-direction: row;justify-content: space-around;align-items: center;">
							<i class="icon iconfont icon-liulan"><span class="shoucang-color-black">`+arr3[i].shuju1+`</span></i>
							<i class="icon iconfont icon-dianzan"><span class="shoucang-color-black">`+arr3[i].shuju2+`</span></i>
							<i class="icon iconfont icon-pinglun"><span class="shoucang-color-black">`+arr3[i].shuju3+`</span></i>
							<i class="icon iconfont icon-shoucang information-i"><span class="shoucang-color-black">`+arr[i].shuju4+`</span></i>
							</p>
					</div>
				</div>`
}
$('#page1').prepend(html);
$('#page3').prepend(html3);
$('#page4').prepend(html3);
$('#page5').prepend(html3);
$('.icon-zixun').click(function(){
	location.href='../publish/publish2.html';
})
		</script>
	</body>

</html>